@font-face {
  font-family: 'icomoon';
  src:  url('../fontsroom/icomoon.eot?kw02x1');
  src:  url('../fontsroom/icomoon.eot?kw02x1#iefix') format('embedded-opentype'),
    url('../fontsroom/icomoon.ttf?kw02x1') format('truetype'),
    url('../fontsroom/icomoon.woff?kw02x1') format('woff'),
    url('../fontsroom/icomoon.svg?kw02x1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE900:before {
  content: "\e900";
  color: #c1e080;
}
.icon-1:before {
  content: "\e901";
  color: #fad650;
}
.icon-2:before {
  content: "\e902";
  color: #999;
}
.icon-r-shouqi:before {
  content: "\e903";
  color: #c4c4c4;
}
.icon--:before {
  content: "\e904";
}
.icon-3:before {
  content: "\e905";
}
.icon-4:before {
  content: "\e906";
  color: #999;
}
.icon-r-zhankai:before {
  content: "\e907";
  color: #c4c4c4;
}
