@font-face {
  font-family: 'icomoon';
  src:  url('../fonts61/icomoon.eot?w1xgoz');
  src:  url('../fonts61/icomoon.eot?w1xgoz#iefix') format('embedded-opentype'),
    url('../fonts61/icomoon.ttf?w1xgoz') format('truetype'),
    url('../fonts61/icomoon.woff?w1xgoz') format('woff'),
    url('../fonts61/icomoon.svg?w1xgoz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e900";
  color: #c4c4c4;
}
.icon-swicthSlider .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-swicthSlider .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-kt-31:before {
  content: "\e903";
  color: #fad650;
}
.icon-kt-3:before {
  content: "\e904";
  color: #ddd;
}
.icon-cl-2:before {
  content: "\e905";
}
.icon-cl-24:before {
  content: "\e906";
  color: #ddd;
}
.icon-switchBtn:before {
  content: "\e907";
}
.icon-cl-1:before {
  content: "\e908";
}
.icon-cl-12:before {
  content: "\e909";
  color: #ddd;
}
.icon--2x24:before {
  content: "\e90a";
  color: #bdbdbd;
}
.icon-kt-5:before {
  content: "\e90b";
  color: #ddd;
}
.icon--2x22:before {
  content: "\e90c";
}
.icon-icon-16:before {
  content: "\e90d";
  color: #fff;
}
.icon-tips-5:before {
  content: "\e90e";
  color: #fff;
}
.icon-2x4:before {
  content: "\e90f";
  color: #fff;
}
.icon--2x21:before {
  content: "\e910";
}
.icon--2x20:before {
  content: "\e911";
  color: #bdbdbd;
}
.icon--2x19:before {
  content: "\e912";
  color: #c1e080;
}
.icon--2x18:before {
  content: "\e913";
  color: #ddd;
}
.icon--2x17:before {
  content: "\e914";
}
.icon--2x16:before {
  content: "\e915";
  color: #bdbdbd;
}
.icon--2x15:before {
  content: "\e916";
  color: #ddd;
}
.icon--2x14:before {
  content: "\e917";
}
.icon-kt-6:before {
  content: "\e918";
  color: #bdbdbd;
}
.icon--2x12:before {
  content: "\e919";
  color: #c1e080;
}
.icon--2x11:before {
  content: "\e91a";
  color: #ddd;
}
.icon--2x10:before {
  content: "\e91b";
  color: #fff;
}
.icon-2x3:before {
  content: "\e91c";
  color: #fff;
}
.icon-cl-3:before {
  content: "\e91d";
}
.icon--:before {
  content: "\e91e";
  color: #ddd;
}
.icon--2x9:before {
  content: "\e91f";
  color: #86b3e7;
}
.icon-kt-2:before {
  content: "\e920";
  color: #ddd;
}
.icon--2x8:before {
  content: "\e921";
  color: #ffa265;
}
.icon-kt-1:before {
  content: "\e922";
  color: #ddd;
}
.icon--2x7:before {
  content: "\e923";
}
.icon-kt-4:before {
  content: "\e924";
  color: #bdbdbd;
}
.icon--2x5:before {
  content: "\e925";
  color: #c1e080;
}
.icon--2x4:before {
  content: "\e926";
  color: #ddd;
}
.icon--2x3:before {
  content: "\e927";
}
.icon--2x2:before {
  content: "\e928";
  color: #bdbdbd;
}
.icon--2x1:before {
  content: "\e929";
  color: #c1e080;
}
.icon--2x:before {
  content: "\e92a";
  color: #ddd;
}
.icon-icon-14:before {
  content: "\e92b";
  color: #fff;
}
.icon-2x8:before {
  content: "\e92c";
  color: #86b3e7;
}
.icon-A:before {
  content: "\e92d";
  color: #86b3e7;
}
.icon-B:before {
  content: "\e92e";
  color: #dbdbdb;
}
.icon-2:before {
  content: "\e92f";
  color: #ddd;
}
.icon-2x9:before {
  content: "\e930";
  color: #fff;
}
.icon-2x10:before {
  content: "\e931";
  color: #fff;
}
.icon-2x11:before {
  content: "\e932";
  color: #fff;
}
.icon--6:before {
  content: "\e933";
}
.icon-l-psw:before {
  content: "\e934";
  color: #bdbdbd;
}
.icon-4:before {
  content: "\e935";
  color: #999;
}
.icon-2x12:before {
  content: "\e936";
  color: #ffa265;
}
.icon-2x13:before {
  content: "\e937";
  color: #c4c4c4;
}
.icon-2x14:before {
  content: "\e938";
  color: #979797;
}
.icon-2x15:before {
  content: "\e939";
  color: #c1e080;
}
.icon-5:before {
  content: "\e93a";
  color: #999;
}
.icon-2x16:before {
  content: "\e93b";
  color: #c4c4c4;
}
.icon-6:before {
  content: "\e93c";
}
.icon-7:before {
  content: "\e93d";
  color: #86b3e7;
}
.icon-B1:before {
  content: "\e93e";
  color: #c4c4c4;
}
.icon-8:before {
  content: "\e93f";
  color: #86b3e7;
}
.icon-B2:before {
  content: "\e940";
  color: #c4c4c4;
}
.icon-2x17:before {
  content: "\e941";
  color: #c4c4c4;
}
.icon--7:before {
  content: "\e942";
}
.icon-9:before {
  content: "\e943";
  color: #bdbdbd;
}
.icon--2x26:before {
  content: "\e944";
}
.icon-detail-1:before {
  content: "\e945";
  color: #c4c4c4;
}
.icon--2x27:before {
  content: "\e946";
}
.icon-2x19:before {
  content: "\e947";
  color: #c4c4c4;
}
.icon--2x28:before {
  content: "\e948";
}
.icon-2x20:before {
  content: "\e949";
  color: #c4c4c4;
}
.icon--2x29:before {
  content: "\e94a";
}
.icon-2x21:before {
  content: "\e94b";
  color: #c4c4c4;
}
.icon--2x30:before {
  content: "\e94c";
}
.icon-2x22:before {
  content: "\e94d";
  color: #c4c4c4;
}
.icon--2x31:before {
  content: "\e94e";
}
.icon-2x23:before {
  content: "\e94f";
  color: #c4c4c4;
}
.icon--2x32:before {
  content: "\e950";
}
.icon-2x24:before {
  content: "\e951";
  color: #c4c4c4;
}
.icon--2x33:before {
  content: "\e952";
}
.icon-2x25:before {
  content: "\e953";
  color: #c4c4c4;
}
.icon--2x34:before {
  content: "\e954";
}
.icon-2x26:before {
  content: "\e955";
  color: #c4c4c4;
}
.icon-revise-1:before {
  content: "\e956";
  color: #c4c4c4;
}
.icon-revise-2:before {
  content: "\e957";
  color: #86b3e7;
}
.icon-tips-2:before {
  content: "\e958";
  color: #fff;
}
.icon-tips-1:before {
  content: "\e959";
  color: #86b3e7;
}
.icon-A1:before {
  content: "\e95a";
  color: #86b3e7;
}
.icon-B3:before {
  content: "\e95b";
  color: #dbdbdb;
}
.icon--8:before {
  content: "\e95c";
  color: #86b3e7;
}
.icon-10 .path1:before {
  content: "\e95d";
  color: rgb(244, 244, 244);
}
.icon-10 .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon-close-2:before {
  content: "\e95f";
  color: #86b3e7;
}
.icon-11 .path1:before {
  content: "\e960";
  color: rgb(244, 244, 244);
}
.icon-11 .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(196, 196, 196);
}
.icon--2x52:before {
  content: "\e962";
  color: #bdbdbd;
}
.icon--2x53:before {
  content: "\e963";
  color: #ddd;
}
.icon--2x54:before {
  content: "\e964";
}
.icon-18:before {
  content: "\e965";
  color: #ddd;
}
.icon--2x36:before {
  content: "\e966";
  color: #fff;
}
.icon-icon-11:before {
  content: "\e967";
  color: #fad650;
}
.icon-icon-12:before {
  content: "\e968";
  color: #fff;
}
.icon-icon-13:before {
  content: "\e969";
  color: #c1e080;
}
.icon--10:before {
  content: "\e96a";
}
.icon-12:before {
  content: "\e96b";
  color: #bdbdbd;
}
.icon--2x38:before {
  content: "\e96c";
}
.icon-fs-5:before {
  content: "\e96d";
  color: #bdbdbd;
}
.icon--2x40:before {
  content: "\e96e";
  color: #ddd;
}
.icon-close-1:before {
  content: "\e96f";
  color: #999;
}
.icon-delete-1:before {
  content: "\e970";
  color: #ffa265;
}
.icon-set-1:before {
  content: "\e971";
  color: #c4c4c4;
}
.icon-return-1:before {
  content: "\e972";
  color: #c1e080;
}
.icon--2x55:before {
  content: "\e973";
}
.icon-detail-2:before {
  content: "\e974";
  color: #bdbdbd;
}
.icon--2x42:before {
  content: "\e975";
  color: #ddd;
}
.icon-2x31:before {
  content: "\e976";
  color: #c4c4c4;
}
.icon--2x43:before {
  content: "\e977";
}
.icon-fs-3:before {
  content: "\e978";
  color: #bdbdbd;
}
.icon--2x45:before {
  content: "\e979";
  color: #ddd;
}
.icon-14:before {
  content: "\e97a";
}
.icon-right-2:before {
  content: "\e97b";
  color: #86b3e7;
}
.icon-right-1:before {
  content: "\e97c";
  color: #c4c4c4;
}
.icon-left-2:before {
  content: "\e97d";
  color: #86b3e7;
}
.icon-left-1:before {
  content: "\e97e";
  color: #c4c4c4;
}
.icon--2x56:before {
  content: "\e97f";
  color: #fff;
}
.icon-2x37:before {
  content: "\e980";
  color: #ffa265;
}
.icon-2x38:before {
  content: "\e981";
  color: #c4c4c4;
}
.icon-2x32:before {
  content: "\e982";
  color: #fff;
}
.icon--11:before {
  content: "\e983";
}
.icon-l-user:before {
  content: "\e984";
  color: #bdbdbd;
}
.icon--2x46:before {
  content: "\e985";
}
.icon--2x47:before {
  content: "\e986";
  color: #bdbdbd;
}
.icon-fs-4:before {
  content: "\e987";
  color: #ddd;
}
.icon--2x49:before {
  content: "\e988";
}
.icon-yuanA:before {
  content: "\e989";
  color: #bdbdbd;
}
.icon--2x51:before {
  content: "\e98a";
  color: #ddd;
}
.icon-2x33:before {
  content: "\e98b";
  color: #fff;
}
